.accordion-button,
.form-control:focus,
.form-check-input,.navbar-toggler:focus {
  box-shadow: none !important;
}
body{
  text-align: justify;
}

/* CSS for the placeholder color */
.custom-placeholder-light::placeholder {
  color: gray;
}
.custom-placeholder-dark::placeholder {
  color: #302929;
}

.col{
  width: fit-content;
  margin: 0px;
  padding: 0px;
}

.accordion-button.light::after {
  filter: invert(0);
}

.accordion-button.dark::after {
  filter: invert(1);
}

@media only screen and (max-width: 1024px) {
  .form-control{
    width: 48% !important;
  }
}

@media only screen and (max-width: 768px) {
  .form-control{
    width: 90% !important;
    margin: auto;
  }
  #exampleFormControlTextarea1{
    margin-bottom: 10px;
  }
  .font{
    font-size: 19px;
  }
  .alert{
    padding: 4px 8px;
  }
}

@media only screen and (max-width: 425px) {
  .col{
    width: auto;
  }
}