.accordion-button,
.form-control:focus,
.form-check-input {
  box-shadow: none !important;
}

/* CSS for the placeholder color */
.custom-placeholder-light::placeholder {
  color: gray;
  /* Light mode placeholder text color */
}

.custom-placeholder-dark::placeholder {
  color: #302929;
  /* Dark mode placeholder text color */
}